In [1]:
import pandas as pd
import numpy as np

# Headlines

In [22]:
hl = pd.read_csv('raw_partner_headlines.csv')
len(hl)

1845559

In [25]:
hl.head()

,Unnamed: 0,headline,url,publisher,date,stock
0,2,Agilent Technologies Announces Pricing of $5……...,http://www.gurufocus.com/news/1153187/agilent-...,GuruFocus,2020-06-01 00:00:00,A
1,3,Agilent (A) Gears Up for Q2 Earnings: What's i...,http://www.zacks.com/stock/news/931205/agilent...,Zacks,2020-05-18 00:00:00,A
2,4,J.P. Morgan Asset Management Announces Liquida...,http://www.gurufocus.com/news/1138923/jp-morga...,GuruFocus,2020-05-15 00:00:00,A
3,5,"Pershing Square Capital Management, L.P. Buys ...",http://www.gurufocus.com/news/1138704/pershing...,GuruFocus,2020-05-15 00:00:00,A
4,6,Agilent Awards Trilogy Sciences with a Golden ...,http://www.gurufocus.com/news/1134012/agilent-...,GuruFocus,2020-05-12 00:00:00,A

# Dow Jones Index

Only Include Dow Jones Index Companies - brief description, most well known companies

In [15]:
# https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average
dow_table = """Apple Inc.	NASDAQ	AAPL	Information technology	2015-03-19		2.57%
Amgen	NASDAQ	AMGN	Pharmaceutical industry	2020-08-31		4.87%
American Express	NYSE	AXP	Financial services	1982-08-30		2.88%
Boeing	NYSE	BA	Aerospace and defense	1987-03-12		4.92%
Caterpillar Inc.	NYSE	CAT	Construction and Mining	1991-05-06		4.54%
Salesforce	NYSE	CRM	Information technology	2020-08-31		4.45%
Cisco Systems	NASDAQ	CSCO	Information technology	2009-06-08		1.00%
Chevron Corporation	NYSE	CVX	Petroleum industry	2008-02-19	Also 1930-07-18 to 1999-11-01	2.03%
The Walt Disney Company	NYSE	DIS	Broadcasting and entertainment	1991-05-06		3.66%
Dow Inc.	NYSE	DOW	Chemical industry	2019-04-02		1.25%
Goldman Sachs	NYSE	GS	Financial services	2013-09-20		6.54%
The Home Depot	NYSE	HD	Retailing	1999-11-01		6.24%
Honeywell	NASDAQ	HON	Conglomerate	2020-08-31		4.47%
IBM	NYSE	IBM	Information technology	1979-06-29	Also 1932-05-26 to 1939-03-04	2.59%
Intel	NASDAQ	INTC	Information technology	1999-11-01		1.25%
Johnson & Johnson	NYSE	JNJ	Pharmaceutical industry	1997-03-17		3.12%
JPMorgan Chase	NYSE	JPM	Financial services	1991-05-06		2.95%
The Coca-Cola Company	NYSE	KO	Food industry	1987-03-12	Also 1932-05-26 to 1935-11-20	1.04%
McDonald's	NYSE	MCD	Food industry	1985-10-30		4.49%
3M	NYSE	MMM	Conglomerate	1976-08-09	As Minnesota Mining and Manufacturing	3.84%
Merck & Co.	NYSE	MRK	Pharmaceutical industry	1979-06-29		1.49%
Microsoft	NASDAQ	MSFT	Information technology	1999-11-01		4.98%
Nike, Inc.	NYSE	NKE	Apparel	2013-09-20		2.58%
Procter & Gamble	NYSE	PG	Fast-moving consumer goods	1932-05-26		2.64%
The Travelers Companies	NYSE	TRV	Financial services	2009-06-08		3.03%
UnitedHealth Group	NYSE	UNH	Managed health care	2012-09-24		7.33%
Visa Inc.	NYSE	V	Financial services	2013-09-20		4.33%
Verizon Communications	NYSE	VZ	Telecommunication	2004-04-08		1.13%
Walgreens Boots Alliance	NASDAQ	WBA	Retailing	2018-06-26		1.06%
Walmart	NYSE	WMT	Retailing	1997-03-17		2.72%""".split("\n")

In [20]:
dow = []
for row in dow_table:
    dow.append(row.split("\t")[2])

# Analyst Ratings

In [58]:
an = pd.read_csv('raw_analyst_ratings.csv')
an.tail()

,Unnamed: 0,headline,url,publisher,date,stock
1407323,1413844,Top Narrow Based Indexes For August 29,https://www.benzinga.com/news/11/08/1888782/to...,Monica Gerson,2011-08-29 00:00:00,ZX
1407324,1413845,Recap: Wednesday's Top Percentage Gainers and ...,https://www.benzinga.com/news/earnings/11/06/1...,Benjamin Lee,2011-06-22 00:00:00,ZX
1407325,1413846,UPDATE: Oppenheimer Color on China Zenix Auto ...,https://www.benzinga.com/analyst-ratings/analy...,BenzingaStaffL,2011-06-21 00:00:00,ZX
1407326,1413847,Oppenheimer Initiates China Zenix At Outperfor...,https://www.benzinga.com/analyst-ratings/price...,Joe Young,2011-06-21 00:00:00,ZX
1407327,1413848,China Zenix Auto International Opens For Tradi...,https://www.benzinga.com/news/ipos/11/05/10789...,Allie Wickman,2011-05-12 00:00:00,ZX

# Check Number of Headlines and Analyst Ratings per stock

In [73]:
# Headlines and Ratings of Stocks in the Dow
hl_dow = hl[hl.stock.isin(dow)]
an_dow = an[an.stock.isin(dow)]

In [75]:
# Check number of headline and ratings
counts = pd.DataFrame([hl_dow.groupby('stock')['headline'].agg(len),
                       an_dow.groupby('stock')['headline'].agg(len).rename('ratings')]).transpose()
counts

      headline  ratings
AAPL      32.0    441.0
AMGN       9.0    150.0
AXP     1926.0   1857.0
CAT        7.0   2322.0
CRM        5.0   1483.0
CSCO     508.0   1010.0
DIS      933.0     10.0
DOW     2418.0   1227.0
HD      1841.0   2612.0
IBM        2.0   1090.0
INTC    2465.0     10.0
JPM     2873.0     10.0
KO        77.0   2797.0
MCD        8.0   2228.0
MMM        6.0   1489.0
MRK        2.0   3333.0
PG         7.0   1305.0
TRV     2203.0    656.0
UNH      170.0    230.0
V         28.0     10.0
VZ         6.0   2966.0
WBA     1375.0   1194.0
WMT        1.0     10.0
BA         NaN     10.0
JNJ        NaN   2928.0

In [76]:
# Only include stocks with >10 headlines & >10 ratings for analysis to get more significant
# results with larger numbers of headlines and ratings.

dow_incl = counts[(counts['headline']>10) & (counts['ratings']>10)].index
dow_incl

Index(['AAPL', 'AXP', 'CSCO', 'DOW', 'HD', 'KO', 'TRV', 'UNH', 'WBA'], dtype='object')

In [64]:
counts.loc[dow_incl,:]

      headline  ratings
AAPL      32.0    441.0
AXP     1926.0   1857.0
CSCO     508.0   1010.0
DOW     2418.0   1227.0
HD      1841.0   2612.0
KO        77.0   2797.0
TRV     2203.0    656.0
UNH      170.0    230.0
WBA     1375.0   1194.0

In [78]:
# Filtering these stocks in hl and an
# These contain the data to analyze
headlines = hl[hl.stock.isin(dow_incl)]
ratings = an[an.stock.isin(dow_incl)]

# Check Date Range

In [234]:
headlines.date

4067       2020-06-02 00:00:00
4068       2020-06-02 00:00:00
4069       2020-06-02 00:00:00
4070       2020-06-01 00:00:00
4071       2020-06-01 00:00:00
                  ...
1747360    2018-03-24 00:00:00
1747361    2018-03-23 00:00:00
1747362    2018-03-23 00:00:00
1747363    2018-03-23 00:00:00
1747364    2018-03-23 00:00:00
Name: date, Length: 10550, dtype: object

In [236]:
from datetime import datetime

In [237]:
def time_conv(x):
    if pd.isnull(x):
        return np.nan
    else:
        try:
            return datetime.strptime(str(x)[:19], "%Y-%m-%d %H:%M:%S")
        except:
            return np.nan

In [239]:
headlines['date'] = headlines.date.map(time_conv)
ratings['date'] = ratings.date.map(time_conv)

In [246]:
headlines_dates = headlines.groupby('stock')['date'].agg([min, max])

In [252]:
headlines_dates = headlines_dates.merge(ratings.groupby('stock')['date'].agg([min, max]), left_index=True, right_index=True, suffixes=['_headlines','_ratings'])

In [253]:
# Most stocks have data ending May or June 2020
# Some stocks have data starting late 2019 or 2020 only,
# will exclude these and only include stocks with data starting prior to 2019 only
# this gives roughly 1.5 years of data minimum

In [259]:
min_date = datetime.strptime("2019-01-01", "%Y-%m-%d")

headlines_dates = headlines_dates[(headlines_dates.min_headlines < min_date) &
                                  (headlines_dates.min_ratings < min_date)]
headlines_dates

      min_headlines max_headlines min_ratings         max_ratings
stock
AXP      2016-04-20    2020-06-03  2009-08-07 2020-06-10 10:22:11
DOW      2010-03-01    2020-06-03  2009-08-25 2020-06-09 10:52:15
HD       2018-04-23    2020-06-04  2009-08-10 2020-06-10 08:14:08
TRV      2010-03-05    2020-05-29  2009-10-22 2020-06-11 10:05:13
WBA      2018-03-23    2020-05-27  2014-12-31 2020-06-08 11:34:19

In [260]:
# Update analysis universe
dow_incl = headlines_dates.index

headlines = hl[hl.stock.isin(dow_incl)]
ratings = an[an.stock.isin(dow_incl)]

# Sentiment scores on headlines and ratings

In [104]:
import nltk 
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [170]:
# Instantiate the sentiment intensity analyzer with the existing lexicon
vader = SentimentIntensityAnalyzer()

# check the distribution of the lexicon and sentiment values
pd.Series(vader.lexicon).describe()

count    7502.000000
mean       -0.181938
std         1.700843
min        -3.900000
25%        -1.600000
50%        -0.500000
75%         1.500000
max         3.400000
dtype: float64

## Add some word and sentiment values
For financial use case we need more specific words: manually add

In [120]:
# https://www.kaggle.com/mmmarchetti/sentiment-analysis-on-financial-news
# New words and values
new_words = {
    'crushes': -1.9,
    'beats': 1,
    'misses': -1,
    'trouble': -1.7,
    'falls': -1.5,
    'dovish': 0.5,
    'hawkish': -0.5
}

In [125]:
# Check values:
for word in new_words.keys():
    try: 
        print(word, vader.lexicon[word])
    except:
        pass

crushes -1.9
beats 1
misses -1
trouble -1.7
falls -1.5
dovish 0.5
hawkish -0.5

In [131]:
lex = pd.Series(vader.lexicon)
lex[lex>0].mean()

1.5308845577211405

In [132]:
lex[lex<0].mean()

-1.5514265164229193

### Add words from a word list:
These are positive and negative word lists but no values attached, will add them with the mean positive and negative scores of the existing lexicon

In [171]:
# https://sraf.nd.edu/textual-analysis/resources/
# Suggested by classmate Stuart Ong from peer review of proposal
word_list_pos = pd.read_excel('LoughranMcDonald_SentimentWordLists_2018.xlsx', sheet_name='Positive', 
                              header=None)[0].map(lambda x: x.lower())
word_list_neg= pd.read_excel('LoughranMcDonald_SentimentWordLists_2018.xlsx', sheet_name='Negative', 
                              header=None)[0].map(lambda x: x.lower())

In [172]:
# Add the missing words to the vader lexicon with the mean values
words_pos = pd.DataFrame(word_list_pos[~word_list_pos.isin(lex.index)])
words_pos['score']=lex[lex>0].mean()
dict_words_pos = words_pos.set_index(0)['score'].to_dict()

words_neg = pd.DataFrame(word_list_neg[~word_list_neg.isin(lex.index)])
words_neg['score']=lex[lex<0].mean()
dict_words_neg = words_neg.set_index(0)['score'].to_dict()

In [173]:
# Update the lexicon
vader.lexicon.update(new_words)
vader.lexicon.update(dict_words_pos)
vader.lexicon.update(dict_words_neg)

# Put sentiment scores in the headlines and ratings

In [261]:
pd.options.display.max_colwidth =300
pd.options.display.max_rows =100

In [262]:
def add_scores(df, text_col_name):
    try:
        df.drop('score', axis=1, inplace=True)
    except:
        pass
    scores = df[text_col_name].apply(vader.polarity_scores)
    for item in scores.iteritems():
        item[1]['index'] = item[0]
        
    scores = pd.DataFrame.from_records(scores.reset_index()[text_col_name], index='index')
    df = df.join(scores['compound'].rename('score'))
    
    return df

In [263]:
headlines = add_scores(headlines, 'headline')
ratings = add_scores(ratings, 'headline')

In [264]:
headlines.head()

,Unnamed: 0,headline,url,publisher,date,stock,score
151569,151958,US Indexes End Higher Wednesday,http://www.gurufocus.com/news/1154923/us-indexes-end-higher-wednesday,GuruFocus,2020-06-03 00:00:00,AXP,0.00
151570,151959,"Thinking about trading options or stock in Micron Technology, Boeing, Penn National Gaming, ...",http://www.gurufocus.com/news/1154684/thinking-about-trading-options-or-stock-in-micron-technology-boeing-penn-national-gaming-american-express-or-carnival-corp,GuruFocus,2020-06-03 00:00:00,AXP,0.00
151571,151960,Zoom Stock Rises Then Falls After Blockbuster Earnings,https://talkmarkets.com/content/zoom-stock-rises-then-falls-after-blockbuster-earnings?post=264259,TalkMarkets,2020-06-03 00:00:00,AXP,0.34
151572,151961,Bill Nygren Adds 4 Stocks to Portfolio in –st Quarter,http://www.gurufocus.com/news/1153868/bill-nygren-adds-4-stocks-to-portfolio-in-1st-quarter,GuruFocus,2020-06-02 00:00:00,AXP,0.00
151573,151962,"Oakmark Fund Buys American Express Co, Workday Inc, Match Group Inc, Sells Citigroup Inc, Bank ...",http://www.gurufocus.com/news/1152994/oakmark-fund-buys-american-express-co-workday-inc-match-group-inc-sells-citigroup-inc-bank-of-america-corp-capital-one-financial-corp,GuruFocus,2020-06-01 00:00:00,AXP,0.00

In [265]:
ratings.head()

,Unnamed: 0,headline,url,publisher,date,stock,score
122483,123364,"Shares of several financial services companies are trading lower as markets sell off following recent strength and as investors await today's Federal Reserve decision. UPDATE: Equities spiked following the Fed's decision to leave rates unchanged, with several stocks now up for the session.",https://www.benzinga.com/wiim/20/06/16222456/shares-of-several-financial-services-companies-are-trading-lower-as-markets-sell-off-following-recen,Benzinga Newsdesk,2020-06-10 10:22:11,AXP,0.5267
122484,123365,"Jefferies Maintains Hold on American Express, Raises Price Target to $110",https://www.benzinga.com/news/20/06/16220746/jefferies-maintains-hold-on-american-express-raises-price-target-to-110,Benzinga Newsdesk,2020-06-10 08:34:38,AXP,0.0000
122485,123366,"FTC Bans Madera Merchant Services LLC, B&P Enterprises LLC and Owners Bruce C. Woods and Patricia Woods",https://www.benzinga.com/news/20/06/16214568/ftc-bans-madera-merchant-services-llc-b-p-enterprises-llc-and-owners-bruce-c-woods-and-patricia-wood,Benzinga Newsdesk,2020-06-09 13:09:24,AXP,-0.3719
122486,123367,Shares of several financial services companies are trading lower as equities sell off following recent rally. Stocks have rallied over the past week amid optimism towards the US economy reopening and investors have potentially taken some profits following run up.,https://www.benzinga.com/wiim/20/06/16212810/shares-of-several-financial-services-companies-are-trading-lower-as-equities-sell-off-following-rece,Benzinga Newsdesk,2020-06-09 10:34:41,AXP,0.7506
122487,123368,"Morgan Stanley Maintains Overweight on American Express, Raises Price Target to $117",https://www.benzinga.com/news/20/06/16199843/morgan-stanley-maintains-overweight-on-american-express-raises-price-target-to-117,Benzinga Newsdesk,2020-06-08 07:44:54,AXP,-0.3612

# Get stock price data (yFinance)

https://aroussi.com/post/python-yahoo-finance

In [274]:
# list of stocks reminder
dow_incl

Index(['AXP', 'DOW', 'HD', 'TRV', 'WBA'], dtype='object', name='stock')

In [275]:
# dates we need
headlines_dates

      min_headlines max_headlines min_ratings         max_ratings
stock
AXP      2016-04-20    2020-06-03  2009-08-07 2020-06-10 10:22:11
DOW      2010-03-01    2020-06-03  2009-08-25 2020-06-09 10:52:15
HD       2018-04-23    2020-06-04  2009-08-10 2020-06-10 08:14:08
TRV      2010-03-05    2020-05-29  2009-10-22 2020-06-11 10:05:13
WBA      2018-03-23    2020-05-27  2014-12-31 2020-06-08 11:34:19

In [277]:
import yfinance as yf

Index(['AXP', 'DOW', 'HD', 'TRV', 'WBA'], dtype='object', name='stock')

In [267]:
data = yf.download(" ".join(dow_incl), start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  5 of 5 completed

1 Failed download:
- DOW: Data doesn't exist for startDate = 1483200000, endDate = 1493481600

In [273]:
data_DOW = yf.download("DWDP", start="2017-01-01", end="2019-03-20")
data_DOW

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DWDP: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [280]:
# DOW started 20 Mar 2019
# stock was DWDP prior, and went thru a merger.  It is not possible to retrieve delisted stock data from this package.
# we will drop DOW from our analysis
dow_incl = dow_incl.drop('DOW')

KeyError: "['DOW'] not found in axis"

In [283]:
headlines_dates = headlines_dates.drop('DOW', axis=0)
headlines_dates

      min_headlines max_headlines min_ratings         max_ratings
stock
AXP      2016-04-20    2020-06-03  2009-08-07 2020-06-10 10:22:11
HD       2018-04-23    2020-06-04  2009-08-10 2020-06-10 08:14:08
TRV      2010-03-05    2020-05-29  2009-10-22 2020-06-11 10:05:13
WBA      2018-03-23    2020-05-27  2014-12-31 2020-06-08 11:34:19

We will select date period where both headlines and ratings are avaialble for analysis

In [294]:
headlines_dates.loc[:,'start_date'] = headlines_dates[['min_headlines', 'min_ratings']].max(axis=1)
headlines_dates.loc[:,'end_date'] = headlines_dates[['max_headlines', 'max_ratings']].max(axis=1)
headlines_dates

,min_headlines,max_headlines,min_ratings,max_ratings,start_date,end_date
stock,,,,,,
AXP,2016-04-20,2020-06-03,2009-08-07,2020-06-10 10:22:11,2016-04-20,2020-06-10 10:22:11
HD,2018-04-23,2020-06-04,2009-08-10,2020-06-10 08:14:08,2018-04-23,2020-06-10 08:14:08
TRV,2010-03-05,2020-05-29,2009-10-22,2020-06-11 10:05:13,2010-03-05,2020-06-11 10:05:13
WBA,2018-03-23,2020-05-27,2014-12-31,2020-06-08 11:34:19,2018-03-23,2020-06-08 11:34:19

In [295]:
px_data = yf.download(" ".join(dow_incl), 
                      start=headlines_dates.start_date.min(), 
                      end=headlines_dates.end_date.max())

[*********************100%***********************]  4 of 4 completed

In [302]:
px_data = px_data.loc[:,px_data.columns.get_level_values(0) == 'Adj Close']
px_data.columns = px_data.columns.get_level_values(1)
px_data

                   AXP          HD         TRV        WBA
Date
2010-03-04   32.841263   24.091663   40.552822  26.689392
2010-03-05   33.947525   24.367517   40.848156  26.681772
2010-03-08   33.533726   24.490128   40.992924  26.491142
2010-03-09   33.525291   24.456156   40.817680  26.224245
2010-03-10   33.542187   24.479322   40.299549  26.132734
...                ...         ...         ...        ...
2020-06-04  104.933197  244.767258  114.978394  42.776699
2020-06-05  108.075089  250.617279  121.175537  43.889660
2020-06-08  111.955658  252.455856  124.722321  45.505890
2020-06-09  108.794060  252.446045  123.025360  43.821918
2020-06-10  104.558922  250.174850  118.670135  42.854118

[2586 rows x 4 columns]

# Merge headlines, ratings to px_data time series

## add headlines, ratings sentiment scores to the px_data time_series

WIP

In [303]:
px_data

                   AXP          HD         TRV        WBA
Date
2010-03-04   32.841263   24.091663   40.552822  26.689392
2010-03-05   33.947525   24.367517   40.848156  26.681772
2010-03-08   33.533726   24.490128   40.992924  26.491142
2010-03-09   33.525291   24.456156   40.817680  26.224245
2010-03-10   33.542187   24.479322   40.299549  26.132734
...                ...         ...         ...        ...
2020-06-04  104.933197  244.767258  114.978394  42.776699
2020-06-05  108.075089  250.617279  121.175537  43.889660
2020-06-08  111.955658  252.455856  124.722321  45.505890
2020-06-09  108.794060  252.446045  123.025360  43.821918
2020-06-10  104.558922  250.174850  118.670135  42.854118

[2586 rows x 4 columns]

In [307]:
ser_hl_score = headlines.loc[headlines.stock=='AXP', ['date', 'score']].set_index('date')
ser_hl_score

                      score
date
2020-06-03 00:00:00  0.0000
2020-06-03 00:00:00  0.0000
2020-06-03 00:00:00  0.3400
2020-06-02 00:00:00  0.0000
2020-06-01 00:00:00  0.0000
...                     ...
2016-04-20 00:00:00  0.0000
2016-04-20 00:00:00 -0.1531
2016-04-20 00:00:00  0.0000
2016-04-20 00:00:00  0.0000
2016-04-20 00:00:00 -0.0391

[1926 rows x 1 columns]

In [ ]:
data

# Yahoo Finance API - We are not using this for this project anymore

In [ ]:
import requests
def sendRequest(stock):
    url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-chart"

    querystring = {"interval":"1d","symbol":stock,"range":"10y","region":"US"}

    headers = {
        'x-rapidapi-key': "bcfa998f82msh8147536c9705b6cp1082b2jsn8a170fe34c8a",
        'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)
    if response.status_code==200:
        return response.text
    else:
        return None

In [ ]:
sendRequest('TSLA')

In [ ]:
import json
def getHistData(stock):
    response = sendRequest(stock)
    histdata = pd.DataFrame()
    if response == None:
        return histdata
    else:
        try:
            jsondata = json.loads(response)

            #print(data2['chart']["result"][0]["indicators"]["quote"][0])
            timestamps = pd.Series(jsondata['chart']["result"][0]["timestamp"])
            high = pd.Series(jsondata['chart']["result"][0]["indicators"]["quote"][0]["high"])
            low = pd.Series(jsondata['chart']["result"][0]["indicators"]["quote"][0]["low"])
            close = pd.Series(jsondata['chart']["result"][0]["indicators"]["adjclose"][0]["adjclose"])
            columns = {"timestamps":timestamps,"high":high,"low":low,"close":close,"stock":stock}
            histdata = pd.DataFrame(columns)
            return histdata
        except:
            print(stock)
            print(response)
            return pd.DataFrame()

In [ ]:
getHistData('TSLA')

# yfinance package